.form-control{
height: 25px;
}
.Label{
    font-size: 15px;
    font-weight: bold;
}
.detailsform{
    /* background-color: rgb(185, 185, 185); */
    /* width: 38rem; */
    /* border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 18px rgb(161, 228, 130); */
}
